{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="gem-c-title__text govuk-heading-xl">
        <span class="govuk-caption-l">{{ serviceName }}</span>
        Information based on your answers
      </h1>

      {% if data["can-you-juggle"] == "yes" %}
        <h2 class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">
          You can apply for a juggling licence and learn to juggle
        </h2>
    
        <p class="govuk-body-m">
          Based on your answers you can apply for a juggling licence and learn to juggle. To apply for a pro licence you need to be able to juggle 5 different types of objects.
        </p>

        <p>
          You must obey the rules for learning to juggle.
        </p>
      {% endif %}
    
      {% if data["juggling-objects"].length == "5" %}
        <h2 class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">
          You can apply for a pro juggling licence
        </h2>
    
        <p class="govuk-body-m">
          You can apply for this type of licence because you have answered that you can juggle {{ data['juggling-objects'].length }} different types of objects
        </p>
      {% endif %}

      <h2 class="govuk-heading-m">Your answers</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Can you juggle
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['can-you-juggle'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggle">
              Change
              <span class="govuk-visually-hidden"> Can you juggle</span>
            </a>
          </dd>
        </div>        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of balls you can juggle
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['how-many-balls'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-balls">
              Change
              <span class="govuk-visually-hidden"> number of balls you can juggle</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your most impressive juggling trick
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['most-impressive-trick'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-trick">
              Change
              <span class="govuk-visually-hidden"> your most impressive juggling trick</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Juggling objects
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['juggling-objects'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/juggling-objects">
              Change
              <span class="govuk-visually-hidden"> juggling objects</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['emailAddress'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/email-address-page">
              Change
              <span class="govuk-visually-hidden"> your email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/send-email" method="post" novalidate>

        <!-- <input type="hidden" name="answers-checked" value="true"> -->
        <input type="hidden" name="emailAddress" value="{{ data['emailAddress'] | safe }}">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
